annotated-types==0.8.0
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
asgiref==3.12.1
cffi==2.1.1
cryptography==50.0.1
Django==5.2.17
django-ninja==1.7.1
gunicorn==26.2.0
markdown-it-py==4.2.0
mdurl==0.1.2
nh3==0.3.7
packaging==26.3
pillow==12.3.0
psycopg==3.3.6
psycopg-binary==3.3.6
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
qrcode==8.2
sqlparse==0.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
whitenoise==6.12.0
